---
import Layout from '../layouts/Layout.astro';
import BookingWidget from '../components/BookingWidget.svelte';

const sede = Astro.url.searchParams.get('sede');
let RESTAURANT_ID = '11111111-1111-1111-1111-111111111111'; // Por defecto Logroño

if (sede === 'haro') {
    RESTAURANT_ID = '22222222-2222-2222-2222-222222222222';
} else if (sede === 'logrono') {
    RESTAURANT_ID = '11111111-1111-1111-1111-111111111111';
}
---

<Layout title="Reservas - Tu Restaurante">
	<div class="max-w-3xl mx-auto mt-4">
		<BookingWidget client:load restaurantId={RESTAURANT_ID} />
	</div>
</Layout>
